$primary-text-color: #333333;
$secondary-text-color: #C3C3C3; //e3e3e3
$secondary-text-color-hover: #ffffff;
$attention-text-color: #E78B90;
$secondary-attention-color: #7ACCB8;
$thirdly-attention-color: #00ABC0;
$attention-text-color-hover: #d07479;
$filter-color: #303D74;
$filter-color-rgba: rgba(48, 61, 116, .7);
$secondary-filter-color: rgba(51, 51, 51, .8);
$main-bd-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #EEEEEE;